# This rule is not used by the project scaleroperator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the api.sandeeppattnaik.online.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: scaleroperator
    app.kubernetes.io/managed-by: kustomize
  name: scaler-editor-role
rules:
- apiGroups:
  - api.sandeeppattnaik.online
  resources:
  - scalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - api.sandeeppattnaik.online
  resources:
  - scalers/status
  verbs:
  - get
